<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="right">
      Mercado da Bola
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card class="card partida">

    <ion-card-header class="darken-green-b">
      {{ rodada?.nome }}
    </ion-card-header>

    <ion-card-content padding>
      <ion-grid>
        <ion-row>
          <ion-col text-left>
            <button *ngIf="rodada?.idRodadaAnterior" ion-button round color="dark"><ion-icon name="skip-backward" (click)="rodadaAnterior($event)"></ion-icon></button>
          </ion-col>
          <ion-col text-center>
            <button ion-button round color="dark"><ion-icon name="home" (click)="rodadaAtual($event)"></ion-icon></button>
          </ion-col>
          <ion-col text-right>
            <button *ngIf="rodada?.idRodadaSeguinte" ion-button round color="dark"><ion-icon name="skip-forward" (click)="rodadaSeguinte($event)"></ion-icon></button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>

  <ion-card *ngFor="let partida of partidas" class="card partida">

    <ion-card-header class="darken-green-b">
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            {{partida.timeMandante?.mnemonico}}
          </ion-col>
          <ion-col *ngIf="partida.resultado === resultados.INDETERMINADO" text-center>
            &nbsp;
          </ion-col>
          <ion-col *ngIf="partida.resultado != resultados.INDETERMINADO" text-center>
            {{ partida.placarTimeMandante }} x {{ partida.placarTimeVisitante }}
          </ion-col>
          <ion-col text-center>
            {{partida.timeVisitante?.mnemonico}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content padding>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col>
            <img [src]="partida.timeMandante?.escudo" />
          </ion-col>
          <ion-col class="center">
            <ion-icon class="versus" name="close"></ion-icon>
          </ion-col>
          <ion-col>
            <img [src]="partida.timeVisitante?.escudo" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <termometro [partida]="partida"></termometro>

    <ion-row>
      <ion-col *ngIf="validarDeadline()">
        <button ion-button icon-left clear small (click)="detalharPartida($event, partida)">
          <ion-icon name="trending-up"></ion-icon>
          <div>Investir</div>
        </button>
      </ion-col>
      <ion-col *ngIf="!validarDeadline()">
        <button ion-button icon-left clear small (click)="detalharPartida($event, partida)">
          <ion-icon name="search"></ion-icon>
          <div>Detalhar</div>
        </button>
      </ion-col>
      <ion-col center text-right padding>
        <ion-note>
          {{ partida.dataHora | date:'dd/MM/yyyy HH:mm' }}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>